<h2>Log In</h2>

{% if form.errors %} <strong><p> invalid login credentials! </p></strong>{% endif %}
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form>

<!--<a href="{% url 'index' %}"> About us </a>-->