<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>document</title>
</head>
<body>
<style>
table, th, td {
  border:1px solid black;
}
</style>

<!--<table style="width: 100%">
	<tr>
		<th>User</th>
		<th>Weekly Goals</th>
		<th>Daily Goals</th>
		<th>Verify Goals</th>
		<th>Done Goals</th>
	</tr>
	{% for context in context %}
		<tr>
			<td>{{ context.user }}</td>
			<td>{{ context.goal_name }}, goal id = {{ context.goal_id}}</td>
			
		</tr>
	{% endfor %}
</table>-->

<table border="1">
    <thead>
        <tr>
            <th>User</th>
            <th>Weekly Goals</th>
            <th>Daily Goals</th>
            <th>Verify Goals</th>
            <th>Done Goals</th>
        </tr>
    </thead>
    {% if users %}
        {% for u in users %}
        <tbody>
            <tr>
                <td>{{ u }}</td>
                {% if related_weekly_goal %}
                <td>
                    {% for w in related_weekly_goal %}
                        {{ w.goal_id }} {{ w }} <br />
                    {% endfor %}
                </td>
                {% endif %}
                
                {% if related_daily_goal %}
                <td>
                    {% for d in related_daily_goal %}
                        {{ d.id }} {{ d }}<br />
                    {% endfor %}
                </td>
                {% endif %}

                {% if related_verify_goal %}
                <td>
                    {% for v in related_verify_goal %}
                        {{ v.id }} {{ v }}<br />
                    {% endfor %}
                </td>
                {% endif %}

                {% if related_done_goal %}
                <td>
                    {% for d in related_done_goal %}
                        {{ d.id }} {{ d }}<br />
                    {% endfor %}
                </td>
                {% endif %}
            </tr>
        </tbody>
        {% endfor %}
    {% endif %}
</table>
</body>
</html>



