<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>document</title>
</head>
<body>
<style>
table, th, td {
  border:1px solid black;
}
</style>

<!--<table style="width: 100%">
	<tr>
		<th>User</th>
		<th>Weekly Goals</th>
		<th>Daily Goals</th>
		<th>Verify Goals</th>
		<th>Done Goals</th>
	</tr>
	{% for context in context %}
		<tr>
			<td>{{ context.user }}</td>
			<td>{{ context.goal_name }}, goal id = {{ context.goal_id}}</td>
			
		</tr>
	{% endfor %}
</table>-->

<h2>Scrumy Goals</h2>

<h3>Username: {{request.user }} </h3>
<h3>Groups: {{ user.groups.all.0 }}</h3>


<table border="1" style="margin-top: 2rem;">
        <tr>
            <th>User</th>
            <th>Weekly Goals</th>
            <th>Daily Goals</th>
            <th>Verify Goals</th>
            <th>Done Goals</th>
        </tr>
        {% for u in users %}
            <tr>
                <td>
                    {{ u }} 
                </td>
                <td>
                    {% for w in related_weekly_goal %}
                        {% if w.user == u %}
                            id - {{ w.goal_id }} {{ w.goal_name }}
                            <a href="{% url 'movegoal' w.goal_id %}" title="change goal status" style="text-decoration: none;"> move goal </a> <br />
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for d in related_daily_goal %}
                        {% if d.user == u %}
                            id - {{ d.goal_id }} {{ d.goal_name }}
                            <a href="{% url 'movegoal' d.goal_id %}" title="change goal status" style="text-decoration: none;">move goal</a><br />
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for v in related_verify_goal %}
                        {% if v.user == u %}
                            id - {{ v.goal_id }} {{ v.goal_name }}
                            <a href="{% url 'movegoal' v.goal_id %}" title="change goal status"style="text-decoration: none;">movegoal</a><br />
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for d in related_done_goal %}
                        {% if d.user == u %}
                            id - {{ d.goal_id }} {{ d.goal_name }}
                            <a href="{% url 'movegoal' d.goal_id %}" title="change goal status" style="text-decoration: none;">move goal</a><br />
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
</table>

<a href="{% url 'addgoal' %}" style="background-color: rgb(16, 159, 224); padding: 0.5rem; text-align: center; text-decoration: none; color: #fff; display: block; width: 8rem; margin-bottom: 1rem;"> Add New Goal</a>


