

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" style="background-color: rgb(16, 159, 224); padding: 0.5rem; text-align: center; text-decoration: none; color: #fff; display: block; width: 8rem; margin-bottom: 1rem;">Sign up</button>
  </form>
{% endblock %}

